<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autoupdater.NET.Official" version="1.7.4" targetFramework="net461" />
  <package id="DeviceId" version="4.4.0" targetFramework="net461" />
  <package id="Flurl" version="3.0.6" targetFramework="net461" />
  <package id="Flurl.Http" version="3.2.4" targetFramework="net461" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0" targetFramework="net461" />
  <package id="Microsoft.Web.WebView2" version="1.0.1210.39" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
  <package id="Otp.NET" version="1.2.2" targetFramework="net461" />
  <package id="Portable.BouncyCastle" version="1.9.0" targetFramework="net461" />
  <package id="RestSharp" version="106.11.7" targetFramework="net461" />
  <package id="Selenium.UndetectedChromeDriver" version="1.1.1" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="4.2.0" targetFramework="net461" />
  <package id="Selenium.WebDriver.ChromeDriver" version="114.0.5735.9000" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.5" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net461" />
  <package id="System.Text.Encodings.Web" version="7.0.0" targetFramework="net461" />
  <package id="System.Text.Json" version="7.0.2" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="WebDriver.ChromeDriver.win32" version="108.0.5359.71" targetFramework="net461" />
</packages>